/* Error: expected "{".
 *     ,
 * 330 | <<<<<<< Updated upstream
 *     |                         ^
 *     '
 *   sass\pages\home.scss 330:25  @import
 *   sass\style.scss 5:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 330 \2502  <<<<<<< Updated upstream\d\a     \2502                          ^\a     \2575 \a   sass\\pages\\home.scss 330:25  @import\a   sass\\style.scss 5:9          root stylesheet';
}
