@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #1f242d;
  color: #fff;
}

section {
  min-height: 100vh;
  padding: 6rem 10% 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  cursor: default;
}
.header span {
  color: #0ef;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 4rem;
  transition: 0.3s;
}
.header .navbar a:hover {
  color: #0ef;
}

#menu-icon {
  font-size: 3.6rem;
  color: #fff;
  display: none;
}

section .home {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .home-img {
  margin-top: 0%;
  width: 80vh;
}
section .home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
section .home-content h3:nth-of-type(2) {
  margin-bottom: 4rem;
}
section span {
  color: #0ef;
}
section .home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
section .home-content p {
  font-size: 1.6rem;
}
section .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 2rem 0 3rem;
  background: transparent;
  border: 0.2rem solid #0ef;
  border-radius: 50%;
  font-size: 2rem;
  color: #0ef;
  margin: 3re 1.5rem 3rem 0;
  transition: 0.5s ease;
}
section .social-media a:hover {
  background: #0ef;
  color: #323946;
  box-shadow: 0 0 1rem #0ef;
}
section .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #0ef;
  border-radius: 4rem;
  box-shadow: 0 0 1rem #0ef;
  font-size: 1.6rem;
  color: #323946;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
section .btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  background: #323946;
}
.about .about-img img {
  width: 50vh;
  border-radius: 50%;
}
.about .heading {
  text-align: left;
  font-size: 6rem;
}
.about .about-container h2 {
  text-align: left;
  line-height: 1.2;
}
.about .about-container h3 {
  font-size: 4rem;
}
.about .about-container p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
}

section.techs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.techs h2 {
  margin-bottom: 5rem;
  font-size: 4em;
}
section.techs .techs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
section.techs .techs-container .techs-box {
  flex: 1 1 30rem;
  background: #323946;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #1f242d;
  transition: 0.5s ease;
}
section.techs .techs-container .techs-box:hover {
  border-color: #0ef;
  transform: scale(1.02);
}
section.techs .techs-box i {
  font-size: 5rem;
  color: #0ef;
}
section.techs .techs-box h3 {
  font-size: 2.5rem;
}
section.techs .techs-box p {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}

/*# sourceMappingURL=style.css.map */
