@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: #1f242d;
  color: #fff;
}

section {
  min-height: 100vh;
  padding: 6rem 10% 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: #1f242d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header .header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}
.header .logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  cursor: default;
}
.header span {
  color: #0ef;
}
.header .navbar a {
  font-size: 1.7rem;
  color: #fff;
  margin-left: 4rem;
  transition: 0.3s;
}
.header .navbar a:hover {
  color: #0ef;
}

#menu-icon {
  font-size: 3.6rem;
  color: #fff;
  display: none;
}

section .home {
  display: flex;
  justify-content: center;
  align-items: center;
}
section .home-img {
  margin-top: 0%;
  width: 80vh;
}
section .home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}
section .home-content h3:nth-of-type(2) {
  margin-bottom: 4rem;
}
section span {
  color: #0ef;
}
section .home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
section .home-content p {
  font-size: 1.6rem;
}
section .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  margin: 2rem 0 3rem;
  background: transparent;
  border: 0.2rem solid #0ef;
  border-radius: 50%;
  font-size: 2rem;
  color: #0ef;
  margin: 3re 1.5rem 3rem 0;
  transition: 0.5s ease;
}
section .social-media a:hover {
  background: #0ef;
  color: #323946;
  box-shadow: 0 0 1rem #0ef;
}
section .btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: #0ef;
  border-radius: 4rem;
  box-shadow: 0 0 1rem #0ef;
  font-size: 1.6rem;
  color: #323946;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
section .btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  background: #323946;
}
.about .about-img img {
  width: 50vh;
  border-radius: 50%;
}
.about .heading {
  text-align: left;
  font-size: 6rem;
}
.about .about-container h2 {
  text-align: left;
  line-height: 1.2;
}
.about .about-container h3 {
  font-size: 4rem;
}
.about .about-container p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
}

section.techs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
section.techs h2 {
  margin-bottom: 5rem;
  font-size: 4em;
}
section.techs .techs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
section.techs .techs-container .techs-box {
  flex: 1 1 30rem;
  background: #323946;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.2rem solid #1f242d;
  transition: 0.5s ease;
}
section.techs .techs-container .techs-box:hover {
  border-color: #0ef;
  transform: scale(1.02);
}
section.techs .techs-box i {
  font-size: 5rem;
  color: #0ef;
}
section.techs .techs-box h3 {
  font-size: 2.5rem;
}
section.techs .techs-box p {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}

section.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: #323946;
}
section.portfolio h2 {
  margin-bottom: 4rem;
  font-size: 4em;
}
section.portfolio .portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
section.portfolio .portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem #1f242d;
  overflow: hidden;
  display: flex;
}
section.portfolio .portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
section.portfolio .portfolio-box:hover img {
  transform: scale(1.1);
}
section.portfolio .portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
section.portfolio .portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
section.portfolio .portfolio-layer h4 {
  font-size: 3rem;
}
section.portfolio .portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
section.portfolio .portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: #fff;
  border-radius: 50%;
}
section.portfolio .portfolio-layer a i {
  font-size: 2rem;
  color: #323946;
}

section.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact h2 {
  margin-bottom: 5rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: #fff;
  background: #323946;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}

.contact form .input-box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #323946;
}

.footer-text p {
  font-size: 1.6rem;
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: #0ef;
  border-radius: 0.8rem;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem #0ef;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #323946;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .footer {
    padding: 2rem 3%;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: #1f242d;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }
  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }
  .about {
    flex-direction: column-reverse;
  }
  .about img {
    width: 70vw;
    margin-top: 4rem;
  }
}

/*# sourceMappingURL=cssstyle.css.map */
