@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: $bg-color;
  color: $text-color;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 4rem;
  margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

//header menu section
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: $bg-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.header.sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: $text-color;
  font-weight: 600;
  cursor: default;
}
span {
  color: $main-color;
  text-decoration: underline;
}
.navbar a {
  font-size: 1.7rem;
  color: $text-color;
  margin-left: 4rem;
  transition: 0.3s;
}
.navbar a:hover,
.navbar a.active {
  color: $main-color;
}

#menu-icon {
  font-size: 3.6rem;
  color: $text-color;
  display: none;
}
// END header menu section

//START home section
.home {
  background-image: url(/images/banner-bg.png);
  display: flex;
  justify-content: center;
  align-items: center;
}

//img home
.home-img img {
  // margin-top: 5%;
  width: 60vh;
  // max-width: 450px;
  animation: floatImage 4s ease-in-out infinite;
}
@keyframes floatImage {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0px);
  }
}
.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 4rem;
}
span {
  color: $main-color;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.3rem;
  margin-right: 150px;
}
.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid $main-color;
  border-radius: 50%;
  font-size: 2rem;
  color: $main-color;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media a:hover {
  background: $main-color;
  color: $bg-white;
  box-shadow: 0 0 1rem $main-color;
}
//START LOGO TECHS
.stacks-content {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.stacks-content h3 {
  // color: $secundary-color;
  font-size: 1.15rem;
  display: flex;
}

.stacks ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.stacks ul li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 10px 5px 0;
  list-style: none;
}
.stacks ul li img {
  flex-direction: column;
  width: 45px;
  height: auto;
  transition: transform 0.5s ease;
}

.stacks ul li div img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/*estilização para qunaod passar o mouse emcima do icone, aparecer o 
nome de cada item*/
.stacks ul li div:hover::after {
  content: attr(data);
  position: absolute;
  top: 50px;
  left: 10px;
  width: 20px;
  height: 20px;
  // color: $secundary-color;
}
//END LOGO TECHS

//start clock
.home .relogio {
  display: flex;
  align-items: center;
  justify-content: left;
  color: $text-color;
  /* Serve para dar o espaçamento entre os itens. */
  min-height: 0.5rem;
  min-width: 0.5rem;
  background: transparent;
  border-radius: 10px;
}

.relogio div {
  display: flex;
  flex-direction: column;
  /* Serve para colocar os elementos um em baixo do outro. */
  align-items: center;
  justify-content: center;
  min-height: 10.625rem;
  min-width: 9.375rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  letter-spacing: 3px;
}

.relogio span {
  font-weight: bolder;
  font-size: 3.75rem;
  color: $text-color;
}

.relogio span.time {
  font-size: 0.625rem;
  color: $text-color;
}
//END CLOCK

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: $main-color;
  border-radius: 4rem;
  box-shadow: 0 0 1rem $main-color;
  font-size: 1.6rem;
  color: $text-color;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
}
.btn:hover {
  box-shadow: none;
}

//END home section

//START about section
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  background: $bg-dark;
}
.about-img img {
  width: 50vh;
  //border-radius: 50%;
  margin-left: 50px;
}

.heading {
  text-align: left;
  font-size: 6rem;
}
.about-container h2 {
  text-align: left;
  line-height: 1.2;
}
.about-container h3 {
  font-size: 4rem;
}

.about-container p {
  font-size: 2rem;
  margin: 2rem 0 3rem;
}
//END about section

//START section techs
.techs {
  background-image: url("/images/banner-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
h2 {
  margin-bottom: 5rem;
  font-size: 4rem;
}

.techs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.techs-container .techs-box {
  height: 250px;
  flex: 1 1 30rem;
  // background: $second-bg-color;
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: 0.4rem solid $bg-white;
  transition: 0.5s ease;
}
.techs-container .techs-box:hover {
  transform: scale(1.08);
  border-color: $main-color;
}
.techs-box i {
  font-size: 5rem;
  color: $bg-white;
}
.techs-box h3 {
  font-size: 2.5rem;
  text-align: left;
  padding-bottom: 35px;
}
.techs-box p {
  font-size: 1.5rem;
  margin: 1rem 0 2rem;
}
//logo techs
.stacks1 {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}

.stacks1-content h3 {
  // color: $secundary-color;
  font-size: 1.15rem;
  display: flex;
}

.stacks1 ul {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.stacks1 ul li {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5px 10px 5px 0;
  list-style: none;
}
.stacks1 ul li img {
  flex-direction: column;
  width: 50px;
  height: auto;
  transition: transform 0.5s ease;
}

.stacks1 ul li div img:hover {
  transform: scale(1.3);
  cursor: pointer;
}

//end logo techs
.social-media2 a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid $main-color;
  border-radius: 50%;
  font-size: 2rem;
  color: $main-color;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}
.social-media2 a:hover {
  background: $main-color;
  color: $bg-white;
  box-shadow: 0 0 1rem $main-color;
}
//END about section

//START portfolio section
.portfolio {
  margin: 3rem $bg-dark;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: $bg-dark;
}
.portfolio h2 {
  margin: 1rem;
  font-size: 5rem;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.portfolio-container .portfolio-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem $bg-color;
  overflow: hidden;
  display: flex;
}
.portfolio-box img {
  width: 100%;
  transition: 0.5s ease;
}
.portfolio-box:hover img {
  transform: scale(1.1);
}
.portfolio-box .portfolio-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), $main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: 0.5s ease;
}
.portfolio-box:hover .portfolio-layer {
  transform: translateY(0);
}
.portfolio-layer h4 {
  font-size: 3rem;
}
.portfolio-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}
.portfolio-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: $text-color;
  border-radius: 50%;
}
.portfolio-layer a i {
  font-size: 2rem;
  color: $second-bg-color;
}

//start contact form
section.contact {
  margin-top: 15px;

  background-image: url("/images/banner-bg.png");
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.contact h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.contact form {
  max-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 2rem;
}
.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: $text-color;
  background: $second-bg-color;
  border-radius: 0.8rem;
  margin: 0.7rem 0;
}
.contact form .input-box input {
  width: 49%;
}
.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 1rem;
}
//END contact section

//start wih footer
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: $bg-dark;
}

.footer-text p {
  font-size: 1.6rem;

  text-align: center;
}
.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: $main-color;
  border-radius: 0.8rem;
}
.footer-iconTop a:hover {
  box-shadow: 0 0 2rem $main-color;
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: $bg-white;
  justify-content: center;
  align-items: center;
}

//========START BREAKPOINTS=========

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
  .about {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .about h2 {
    text-align: center;
  }
}
@media (max-width: 991px) {
  #menu-icon {
    display: block;
  }
  .header {
    padding: 2rem 10%;
  }
  .home {
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: $bg-dark;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.6rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content p {
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }
  .home-img img {
    width: 60vw;
    margin-top: 4rem;
  }
  .stacks-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .clock,
  .relogio {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .about {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15rem;
  }
  .about h2 {
    text-align: center;
  }

  .techs {
    padding-bottom: 7rem;
  }

  .portfolio {
    padding-bottom: 7rem;
  }
  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
    background: $bg-dark;
  }
}
@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }
  .home {
    margin-top: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: $bg-dark;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }
  .navbar.active {
    display: block;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }
  .home-content h3 {
    font-size: 2.5rem;
  }
  .home-content h1 {
    font-size: 5rem;
  }
  .home-content p {
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }

  .home-img img {
    width: 50vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 15rem;
  }
  .about h2 {
    text-align: center;
  }
  .about img {
    width: 70vw;
    margin-top: 0.1rem;
  }

  .techs h2 {
    margin-bottom: 3rm;
    font-size: 4rem;
  }

  .portfolio h2 {
    margin-bottom: 3rem;
  }

  .portfolio-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer {
    background: $bg-dark;
  }
}

@media (max-width: 620px) {
  .social-media {
    margin: 0 25% 0 25%;
  }
  .home {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .home span {
    font-size: 25px;
  }

  .stacks-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .clock,
  .relogio {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .home-img {
    text-align: center;
  }

  .about {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .about h2 {
    text-align: center;
  }

  .techs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .techs-box {
    width: 100%;
    padding-bottom: 50px;
  }

  .techs-box h3 {
    text-align: center;
  }

  .stacks1 {
    padding: -25px;
  }
  .stacks1 ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .portfolio .heading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 3.8rem;
  }
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  .contact form .input-box input {
    width: 100%;
  }
  .footer {
    flex-direction: column-reverse;
    background: $bg-dark;
  }
  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
  .footer-iconTop {
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .stacks-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .clock,
  .relogio {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .about {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .techs {
    background-size: cover;
  }

  .techs-box {
    height: auto !important;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
   
  }

  .stacks1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
  }

  .stacks1 li {
    flex: 1 0 calc(50% - 20px);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
  }

  .stacks1 img {
    max-width: 100%;
    height: auto;
  }

  .contact form .input-box input {
    width: 100%;
  }
}
